@page "/projects/{Id:guid}"
@inject ProjectService ProjectService
@inject NavigationManager NavigationManager

<PageTitle>Edit project</PageTitle>

@if (Project == null)
{
    <p>Loading...</p>
}
else
{
    <h2>Editing project @Project.Name</h2>

    <ProjectForm Model="@Project" OnSubmit="OnSubmit"></ProjectForm>
}


@code {
    [Parameter]
    public Guid Id { get; set; }

    public ProjectModel? Project { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Project = await ProjectService.GetAsync( Id );
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                NavigationManager.NavigateTo( "404" );
            }
        }
    }

    public async Task OnSubmit( ProjectModel model )
    {
        await ProjectService.PutAsync( model );
        NavigationManager.NavigateTo( "/projects" );
    }
}