@page "/projects"
@using Invoicer.Front.Components.EntityCard
@inject ProjectService ProjectService

<PageTitle>Projects</PageTitle>

<h1 class="mb-3">List of projects</h1>

@if ( projects is null )
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @foreach ( var project in projects )
        {
            <EntityCard class="mb-2">
                <NavLink href="@($"/projects/{project.Id}")">
                    @project.Name
                </NavLink>
            </EntityCard>
        }
    </div>
}

@code {
    private ProjectModel[]? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.ListAsync();
    }
}
