
<EditForm Model="Model" OnValidSubmit="OnValidSubmit" FormName="ProjectForm">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group mb-2">
        <label class="form-label">Name of the project:</label>
        <InputText @bind-Value="Model!.Name" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public ProjectModel? Model { get; set; }

    [Parameter]
    public EventCallback<ProjectModel> OnSubmit { get; set; }

    protected override void OnInitialized()
    {
        Model ??= new();
    }

    private async Task OnValidSubmit()
    {
        await OnSubmit.InvokeAsync( Model! );
    }
}
