@page "/projects"
@inject ProjectService ProjectService

<PageTitle>Projects</PageTitle>

<h1>List of projects</h1>

@if ( projects is null )
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach ( var project in projects )
        {
            <li>@project.Name</li>
        }
    </ul>
}

@code {
    private ProjectModel[]? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.ListAsync();
    }
}
